# General
.idea/
.DS_Store
.fleet

# Python
__pycache__/
.env
*.py[cod]

# Ignore environment files
.env.db
/backend/.env.production
/backend/.env.development
/backend/.env.staging

/frontend/.env.production
/frontend/.env.development
/frontend/.env.staging

# Ignore database files
/backend/*.accdb
/backend/*.db
/backend/*.dbf
/backend/*.mdb
/backend/*.pdb
/backend/*.sqlite3
/backend/*.db-shm
/backend/*.db-wal

# Ignore Go-related files
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib
/backend/*.test
/backend/*.out
/backend/go.work

# Ignore Python virtual environments
/backend/.venv
/backend/env/
/backend/venv/
/backend/ENV/

# Ignore Python cache & package manager files
/backend/__pycache__/
/backend/*.py[cod]
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.ruff_cache/

# Ignore frontend dependencies
/frontend/node_modules/
/frontend/.nuxt/
/frontend/dist/
/frontend/build/
/frontend/.output/
/frontend/.data/
/frontend/.nitro/
/frontend/.cache/

# Ignore logs and temporary files
logs/
*.log
/tmp/

# Ignore MLflow’s local tracking folder
mlruns/

main.go
